nav {
  background-color: #8b4513; /* Brown color */
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: baseline;
}

li {
  display: inline;
  margin-right: 20px;
}

li:last-child {
  margin-right: 0;
}

a {
  color: #fff;
  text-decoration: none; /* Remove text decoration */
  font-size: 18px;
}

a:hover {
  color: #ccc;
}

.right {
  position: absolute;
  right: 0;
  width: 300px;
  border-color: #fff;
}

.login {
  color: rgb(255, 255, 255);
}

.round-button {
  background-color: #a52a2a; /* Brown color */
  color: #fff;
  border: none;
  border-radius: 25px;
  width: 100px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 20px;
  transition: transform 0.7s ease;
}

.round-button:hover {
  background-color: #8b0000; 
  color: #fff;
}

.btns {
  display: flex;
}
