.calform {
    background-color: #884A39;
    opacity: 90%;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.border {
    background-color: #F9E0BB80;
}

.activedaydonor {
    color: #884A39;
    cursor: pointer;
}
.donorcalMonth {
    color: #F9E0BB;
}
.calprev {
    background-color: #884A39;
    color: #F9E0BB;
    
}